# ─────────────────────────────────────────────
# Payflow Analytics — Environment Variables Template
# ─────────────────────────────────────────────

# PostgreSQL OLTP
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_APP_USER=
POSTGRES_APP_PASSWORD=
POSTGRES_DEBEZIUM_USER=
POSTGRES_DEBEZIUM_PASSWORD=
POSTGRES_REPLICATION_SLOT=
POSTGRES_PUBLICATION=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_PREFIX=
KAFKA_AUTO_CREATE_TOPICS=false

# Kafka Connect
KAFKA_CONNECT_HOST=kafka-connect
KAFKA_CONNECT_REST_PORT=8083

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_ADMIN_USER=
CLICKHOUSE_ADMIN_PASSWORD=
CLICKHOUSE_DB_RAW=
CLICKHOUSE_DB_CORE=
CLICKHOUSE_DB_MART=
CLICKHOUSE_SUPERSET_USER=
CLICKHOUSE_SUPERSET_PASSWORD=
CLICKHOUSE_GRAFANA_USER=
CLICKHOUSE_GRAFANA_PASSWORD=

# dbt
DBT_CLICKHOUSE_USER=
DBT_CLICKHOUSE_PASSWORD=

# Superset
SUPERSET_SECRET_KEY=
SUPERSET_METADATA_DB_USER=
SUPERSET_METADATA_DB_PASSWORD=
SUPERSET_METADATA_DB_NAME=

# Grafana
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

# Java Generator
GENERATOR_SERVER_PORT=8080
GENERATOR_MANAGEMENT_PORT=8081

# Versions
POSTGRES_VERSION=16-alpine
KAFKA_VERSION=3.7.1
CLICKHOUSE_VERSION=24.8
DEBEZIUM_VERSION=2.7.3.Final
SUPERSET_VERSION=latest
GRAFANA_VERSION=latest
PROMETHEUS_VERSION=latest