# ─────────────────────────────────────────────
# Payflow Analytics — Environment Variables Template
# ─────────────────────────────────────────────

# PostgreSQL OLTP
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=payflow
POSTGRES_APP_USER=payflow_app
POSTGRES_APP_PASSWORD=payflow_app_pass
POSTGRES_DEBEZIUM_USER=payflow_debezium
POSTGRES_DEBEZIUM_PASSWORD=payflow_debezium_pass
POSTGRES_REPLICATION_SLOT=payflow_debezium_slot
POSTGRES_PUBLICATION=payflow_publication

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_PREFIX=payflow
KAFKA_AUTO_CREATE_TOPICS=false

# Kafka Connect
KAFKA_CONNECT_HOST=kafka-connect
KAFKA_CONNECT_REST_PORT=8083

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_ADMIN_USER=clickhouse_admin
CLICKHOUSE_ADMIN_PASSWORD=clickhouse_admin_pass
CLICKHOUSE_DB_RAW=payflow_raw
CLICKHOUSE_DB_CORE=payflow_core
CLICKHOUSE_DB_MART=payflow_mart
CLICKHOUSE_SUPERSET_USER=superset_reader
CLICKHOUSE_SUPERSET_PASSWORD=superset_reader_pass
CLICKHOUSE_GRAFANA_USER=grafana_reader
CLICKHOUSE_GRAFANA_PASSWORD=grafana_reader_pass

# dbt
DBT_CLICKHOUSE_USER=clickhouse_admin
DBT_CLICKHOUSE_PASSWORD=clickhouse_admin_pass

# Superset
SUPERSET_SECRET_KEY=payflow_superset_secret_key_local_only
SUPERSET_METADATA_DB_USER=superset
SUPERSET_METADATA_DB_PASSWORD=superset_metadata_pass
SUPERSET_METADATA_DB_NAME=superset

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# Java Generator
GENERATOR_SERVER_PORT=8080
GENERATOR_MANAGEMENT_PORT=8081

# Versions
POSTGRES_VERSION=16-alpine
KAFKA_VERSION=7.6.1
CLICKHOUSE_VERSION=24.8
DEBEZIUM_VERSION=2.7.3.Final
SUPERSET_VERSION=latest
GRAFANA_VERSION=latest
PROMETHEUS_VERSION=latest